body {
background: lightgreen;
}

#panel {
padding: 50px;
  display: none;
}

#panel, #flip {
padding: 5px;
  text-align: center;
  background: blue;
  border: 1px solid black;
}

.button {
background: green;
}
